@charset "utf-8";
/* CSS Document */
body{
	font: 10px 'Source Sans Pro',Arial,Helvetica,sans-serif;
	background-color: white;
	color: #585754;
}

/**************************************
	Header style
***************************************/
.header{
	margin-top: 40px;
}
.header-inner{
	height: 120px;
}
.header-nav{
	height: 30px;
}
.logo{

	height:120px;
	width: 490px;
	background: url('../img/logo-lr.png') left bottom no-repeat;	
}
.logo1{
	height:120px;
	min-width: 100px;
	background: url('../img/pku-logo.png') left bottom no-repeat;
}
.logo2{
	height:120px;
	min-width: 302px;
	background: url('../img/logo-txt.png') left bottom no-repeat;
	margin-left:1%;
}
.slogan{
	height: 80px;
}
.header-links{
}
.header-links a{
	margin: 0 2px;
	padding:5px 10px;
	height: 2em;
	line-height: 2em;
	font-size: 1.4em;
	font-family: "Microsoft Yahei" Arial;
	letter-spacing: 1px;
	color:white;
	background-color: #007cc2;
	float:right;
	display:block;
}
@media (min-width: 1200px) {
.logo{
	height:120px;
	width: 490px;
	background: url('../img/logo-lr.png') left bottom no-repeat;	
}
}
@media (min-width: 768px) and (max-width: 979px) {
.logo{
	height:120px;
	width: 402px;
	background: url('../img/logo-sm.png') left bottom no-repeat;	
}	
}